version: "3.9"

services:
  db:
    image: ankane/pgvector:latest
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
      POSTGRES_DB: crm
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


  backend:
    build: ./backend
    container_name: backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    depends_on:
      - db
    command: npm run start:dev

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app       # live reload з локального коду
      - /app/node_modules     # щоб node_modules не перезаписувалися
    environment:
      - CHOKIDAR_USEPOLLING=true  # щоб CRA спостерігав за файлами у Docker
      - HOST=0.0.0.0
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  pgdata: